name: docker

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/docker.yaml
      - Dockerfile
      - go.*
      - main.go
      - api/**
      - controllers/**
      - pkg/**
    tags:
      - v*
  pull_request:
    paths:
      - .github/workflows/docker.yaml
      - Dockerfile
      - go.*
      - main.go
      - api/**
      - controllers/**
      - pkg/**

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: docker/metadata-action@v4
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}
      - uses: int128/docker-build-cache-config-action@v1
        id: cache
        with:
          image: ghcr.io/${{ github.repository }}/cache
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v1
      - uses: docker/build-push-action@v2
        id: build
        with:
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: ${{ steps.cache.outputs.cache-from }}
          cache-to: ${{ steps.cache.outputs.cache-to }}
