name: go

on:
  pull_request:
    paths:
      - .github/workflows/go.yaml
      - go.*
      - '**/*.go'
      - Makefile
  push:
    branches:
      - main
    paths:
      - .github/workflows/go.yaml
      - go.*
      - '**/*.go'
      - Makefile

jobs:
  go:
    uses: int128/kubebuilder-workflows/.github/workflows/go.yaml@60df68d907adafdca7abebaf7a7cda05ade74022 # v1.3.0
    permissions:
      contents: write
      pull-requests: write
    with:
      go-version-file: go.mod
      cache-dependency-path: go.sum
