name: manifest

on:
  pull_request:
    paths:
      - config/**
      - .github/workflows/manifest.yaml

jobs:
  diff:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}
          path: head
      - uses: int128/kustomize-action@203e559e6c7e8dc002903595c9ff74f85ef7e0cd # v1.162.0
        id: kustomize-head
        with:
          base-directory: head
          write-individual-files: true
          kustomization: |
            config/default/kustomization.yaml

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.base_ref }}
          path: base
      - uses: int128/kustomize-action@203e559e6c7e8dc002903595c9ff74f85ef7e0cd # v1.162.0
        id: kustomize-base
        with:
          base-directory: base
          write-individual-files: true
          ignore-kustomize-error: true
          kustomization: |
            config/default/kustomization.yaml

      - uses: int128/diff-action@ddd48b26efc80cbca9139353926ac2ec214e08e6 # v2.2.0
        id: diff
        with:
          base: ${{ steps.kustomize-base.outputs.directory }}
          head: ${{ steps.kustomize-head.outputs.directory }}
      - uses: int128/comment-action@2e7e2d8e385ee24454ea30ef135d5c5867011410 # v1.46.0
        with:
          update-if-exists: replace
          post: |
            ## ${{ github.workflow }} / ${{ github.job }}
            ${{ steps.diff.outputs.comment-body || 'No diff' }}
