name: release

on:
  push:
    tags:
      - v*
  pull_request:
    paths:
      - config/**
      - .github/workflows/release.yaml

jobs:
  manifest:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3

      - run: kustomize edit set image controller="ghcr.io/${GITHUB_REPOSITORY}:${GITHUB_REF_NAME}"
        working-directory: config/manager
      - run: kustomize build config/default > /tmp/ktunnels.yaml
      - run: cat /tmp/ktunnels.yaml

      - if: github.event_name == 'push'
        run: gh release upload "${GITHUB_REF_NAME}" /tmp/ktunnels.yaml --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
